* {
    margin: 0;
    padding: 0;
}

.all {
    height: auto;
    width: 1519px;
    margin: 0 auto;
}

.menuNav {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 1517px;
    font-size: 13px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

}

.menuImg {
    margin-left: 180px;
    margin-right: 180px;
}

.menuSign {
    margin-left: 340px;

}

.banner {
    margin-top: 60px;
    width: 1519px
}

.pannerBlack h1 {

    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


.footerAll {
    margin-top: 100px;
    height: 440px;
    background-color: rgb(9, 9, 9);
}

.footer-img img {
    margin-left: 180px;
    margin-top: 50px;

}

.footerBox1 {
    margin-left: -90px;
    width: 250px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.footerBox2 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.footerBox2 p {
    margin-top: -10px;
}

.footerBox3 {
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.footerEmail {
    height: 50px;
    border-radius: 40px;
}

.dropdownMenu {
    padding: 0;
}

.dropdownMenu li {
    margin-left: 5px;
    margin-right: 5px;
}

.dropdownMenu li a {
    font-weight: bolder;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    padding: 5px;
}

.dropdownMenu li a:hover {
    background-color: black;
    color: #b87253;
    padding: 5px;
}


/* hover menu */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 999;
}

/* hover menu */

.inputBar input {
  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.imgCanvars {
    width: 170px;
    height: 160px;
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 120px;
    background-color: rgb(255, 255, 255);
}

.boderImg {
    background-color: #daa474;
    margin-left: 20px;
    height: 120px;
    width: 130px;
    margin-top: 15px;
    border-radius: 90px;

}

.imgSty {
    margin-top: 80px;
    margin-left: -40px;
}

.textDangNhap {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.bodyCanvas {
    margin-left: 20px;
    margin-top: -70px;
    /* background-color: red; */
    width: 360px;
    height: 550px;
    border-radius: 20px;
    border: 2px solid #daa474;
}

.editCanvas p {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
    margin-top: 90px;
}

.editCanvas input {
    height: 40px;
    width: 300px;
    margin-left: 30px;
    border: 0px solid #b87253;
    border-bottom: 2px solid #b87253;

}

.editCheck {
    margin-left: 30px;
}

.editCheck label {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
}

.editCheck input {
    width: 20px;
    height: 20px;
}

.btnDangNhap {
    margin-left: 110px;
    margin-top: 40px;
}

.btnDangNhap button {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    width: 300px;
    margin-left: -80px;
    background-color: #b87253;
    border: 0px solid #b87253;
    border-bottom: 2px solid #b87253;
    color: white;
    border: none;
}

.btnDangNhap button:hover {
    background-color: #daa474;

}

.boderDangNhap {
    margin-left: 60px;
    margin-top: 30px;
    width: 258px;
    height: 3px;
    background-color: #be7352;
    border-radius: 10px
}

.boderDangNhap2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    background-color: white;
    height: 20px;
    width: 61px;
    margin-top: 17px;
    margin-left: -160px;

}
 .iconDangNhap{
    margin-top: 10px;
 }
.iconDangNhap a {

    margin-left: 20px;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.btnDangKi {
    margin-top: 10px;
    font-size: 14px;
}

.btnDangKi label a {
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    color: rgb(0, 0, 0);
    border: none;
}

.btnDangKi label {

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.btnDangKi label a:hover {
    color: #be7352;
}

.dangkiCanvas {
    margin-top: 70px;
}

.dangkiCanvas label {
    margin-top: 20px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.dangkiCanvas input {
    height: 40px;
    width: 300px;
    margin-left: 30px;
    border: 0px solid #b87253;
    border-bottom: 2px solid #b87253;
}

.btnDangki {
    margin-left: 110px;
    margin-top: 20px;
}

.btnDangki button {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    width: 300px;
    margin-left: -80px;
    background-color: #b87253;
    border: 0px solid #b87253;
  
}
.btnDangki button:hover {
    
    background-color: #ddc3af;

}

.editCheck a {
 
    font-weight: bold;
    color: #b87253;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
.fogetPass{
    margin-top: 60px;
}
.fogetPass label{
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.fogetPass input {
    height: 40px;
    width: 300px;
    margin-left: 30px;
    border: 0px solid #b87253;
    border-bottom: 2px solid #b87253;
}
.ipForget input{
    width: 200px;
}
.ipForget button{
    width: 90px;
    height: 45px;
    background-color: #ddc3af;
    color: white;
    border: none;
}

.btnChangePass button {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    width: 300px;
    margin-left: 30px;
    background-color: #b87253;
    border: 0px solid #b87253;
    border-bottom: 2px solid #b87253;
}
.lhBox1 p{
    
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 80px;
    font-weight: 900;
    font-size: 40px;
    margin-left: 85px;
}
.lhBox2{
    margin-top: 10px;
    margin-left: 94px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    width:  60px;
    height: 60px;
    background-color: black;
}
 
.lhBox3 h5{
   margin-top: 10px;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}
.lhBox3 p{
    margin-top: -10px;
     font-size: 16px;
      color: #000000;
      font-family: 'Times New Roman', Times, serif;
 }
 .lhBox4{
    margin-top: 50px;
    margin-left: 100px;
    width: 1150px;
    height: 670px;
    /* background-color: aqua; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) ;

 }
 .lhBox4 h5{
    margin-left: 60px;
    margin-top: 70px;
     font-size: 30px;
     font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
 }
 .lhBox4 p{
    margin-top: 30px;
    margin-left: 60px ;
     font-size: 16px;
      color: #000000;
      font-family: 'Times New Roman', Times, serif;
 }
 .lhBox5 p{
    margin-top: 30px;
    margin-left: 60px ;
     font-size: 16px;
      color: #8c8c9b;
      font-family: 'Times New Roman', Times, serif;
 }
 .lhBox6{
    font-size: 16px;
    color: #938e8c;
    font-family: 'Times New Roman', Times, serif;
 }
 .lhBox6 input{
    margin-left: 60px;
    margin-bottom: 20px;
    height: 50px;
    width: 1000px;
    border: none;
    border-bottom: 1px solid #938e8c;
 }
 .lhBox6 textarea{
    
    margin-left: 60px;
    margin-bottom: 20px;
    height: 150px;
    width: 1000px;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
 }
 .lhBox6 button{
    margin-top: 40px;
    margin-left: 60px;
    border-radius: 20px;
    width: 1000px;
    height: 40px;
 }
 .lhBox6 button {
    width: 1000px;
    height: 50px;
    background: linear-gradient(90deg, #be7352 -33.67%, #ddc3af 100%);
    border-radius: 38px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 10px 0;
    margin-top: 40px;
    border:none;
    transition: 0.3s;
  }
   .lhBox6 button:hover{
    
    background: linear-gradient(90deg, #be7352 -33.67%, #be7352 100%);

  }
  