 

        <div class="banner">
            <img src="image/banner-LienHe.jpg" alt="" width="1517px" height="">
            <div class="pannerBlack">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 lhBox1">
                    <p>PHÊ LA - NỐT HƯƠNG ĐẶC SẢN</p>
                </div>
                <div class="col-2 lhBox2">
                    <img src="image/iconLienHe1.png" alt="" style="margin-top: 12px;">
                </div>
                <div class="col-10 lhBox3">
                    <h5>Địa chỉ:</h5>
                    <p>Trụ sở chính: 96-98-100 Trần Nguyên Đán, Phường 3, Quận Bình Thạnh, Thành phố Hồ Chí Minh <br>

                        Chi nhánh Đà Lạt: 7 Nguyễn Chí Thanh, phường 1, Thành phố Đà Lạt, tỉnh Lâm Đồng<br>

                        Chi nhánh Hà Nội: Lô 04-9A Khu công nghiệp Vĩnh Hoàng, phường Hoàng Văn Thụ, quận Hoàng Mai, Hà
                        Nội</p>
                </div>
                <div class="col-2 lhBox2">
                    <img src="image/iconLienHe2.png" alt="" style="margin-top: 20px;">
                </div>
                <div class="col-10 lhBox3">
                    <h5 style="margin-top:17px ;">Hotline:</h5>
                    <p style="font-weight: bold; font-size: 20px;">1900 3013</p>
                </div>
                <div class="col-2 lhBox2">
                    <img src="image/iconlienHe3.png" alt="" style="margin-top: 20px;">
                </div>
                <div class="col-10 lhBox3" style="margin-top:7px ;">
                    <h5>Email:</h5>
                    <p>info@phela.vn</p>
                </div>

                <div class="col-12 lhBox4">
                    <div class="row">
                        <div class="col-12">
                            <h5>
                                Liên hệ
                            </h5>
                        </div>


                        <div class="col-12 lhBox5">
                            <p>Vui lòng điền đầy đủ thông tin theo yêu cầu để chúng tôi có thể hỗ trợ quý khách tốt
                                nhất.</p>
                        </div>
                        <div class="col-12  lhBox6">
                            <input type="text" placeholder="Họ Và Tên"><br>
                            <input type="text" placeholder="Email">
                            <textarea class="form-control" aria-label="With textarea" placeholder="Nội Dung"></textarea>
                            <button>Gửi</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>



   