
<div style="  width: 1400px;height: 700px; margin-left: 100px;">
    <div class="splide" role="group" style="width: 1300px;  margin-top: 60px; height: 600px;"
        aria-label="Splide Basic HTML Example">
        <div class="splide__track" ">
        <ul class=" splide__list sizeImg"
            style="height: 700px ; width: 1200px; background-color: chartreuse;  margin-left: -60px;">
            <li class="splide__slide" style="margin-left: 35px;">
                <div class="card" style="width:350px; margin-left: 10px;">
                    <img src="image/pr13.jpg" class="card-img-top" alt="...">
                    <div class="card-body textDetail">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text">50,00</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide" style="margin-left: 35px;">
                <div class="card" style="width:350px; margin-left: 10px;">
                    <img src="image/pr16.jpg" class="card-img-top" alt="...">
                    <div class="card-body textDetail">
                        <h5 class="card-title ">LANG BIANG</h5>
                        <p class="card-text">54.000₫</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide" style="margin-left: 35px;">
                <div class="card" style="width:350px; margin-left: 10px;">
                    <img src="image/pr1.jpg" class="card-img-top" alt="...">
                    <div class="card-body textDetail">
                        <h5 class="card-title ">PHÊ THĂNG - CaFe Ủ LẠNH</h5>
                        <p class="card-text">63.818₫</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide" style="margin-left: 35px;">
                <div class="card" style="width:350px; margin-left: 10px;">
                    <img src="image/pr14.jpg" class="card-img-top" alt="...">
                    <div class="card-body textDetail">
                        <h5 class="card-title ">PHÊ NÂU</h5>
                        <p class="card-text">38.291₫</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide" style="margin-left: 35px;">
                <div class="card" style="width:350px; margin-left: 10px;">
                    <img src="image/pr7.jpg" class="card-img-top" alt="...">
                    <div class="card-body textDetail">
                        <h5 class="card-title ">SĂN MÂY (MATCHA ĐÁ XAY)</h5>
                        <p class="card-text">83.455₫</p>
                    </div>
                </div>
            </li>
    </ul>   

        </div>

    </div>
</div> 