
    <div class="all">
      

         
 

 

 

        <div class="banner">
            <img src="image/banner-tinTucChiTiet.jpg" alt="" width="1517px" height="">
            <div class="pannerBlack">
            </div>
        </div>

        <div class="container" style="margin-left: 400px;width: 750px;  margin-top: 50px;">
            <div class="row">
                <div class="rol-12 ttct1">
                    <h5>Phê La Đà Nẵng – Chốn chill mang cảm hứng nguyên bản</h5>
                    <p>15-11-2023</p>
                </div>
                <div class="col-12 ttct1" style="margin-top:-25px;">
                    <p>Có mặt ở Đà Nẵng lần này, Phê La vẫn giữ trọn tinh thần nguyên bản chủ đạo qua những chất liệu mộc mạc, tự nhiên cùng cảm hứng camping Đà Lạt vốn có của mình với bàn xếp – ghế dù. Không chỉ vậy, Phê La khéo léo mang hình ảnh Việt Nam vào không gian: từ concept đường cong gợi làn sóng mềm mại của thành phố biển hay mái lợp gỗ pơ-mu đặc trưng của nhà rông Tây Nguyên. Tất cả đều được sắp đặt một cách hài hòa giữa kiến trúc hiện đại, tạo nên sự giao thoa văn hóa tinh tế.</p>
                </div>
                <div class="col-12 ttct2" >
                    <img src="image/ttct1.jpg" alt="">
                    <img src="image/ttct2.jpg" alt="">
                </div>
                <div class="col-12 ttct1" style="margin-top:-25px;">
                    <p>Một trải nghiệm chill trọn vẹn, mở đầu từ những ly trà Ô Long Đặc Sản cho tới không gian đầy khác biệt. Tới 35 – 41 Nguyễn Văn Linh, phường Hải Châu để cảm nhận bạn nhen!</p>
                </div>
                <div class="rol-12 ttct1" >
                    <h5 style="font-size: 30px;">Bài viết liên quan</h5>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4 ttct3"  >
                            <div class="row">
                                <div class="col-12 ttct4">
                                    <img src="image/ttct3.png" alt="">
                                </div>
                                <div class="col-12 ttct5">
                                    <p>Bông – Cold Brew Ô Long Nhài Kem Cheese</p> 
                                    <p style="font-size: 14px; font-weight: 400; margin-top: -10px;">Ngày đăng: 17 05 2024</p>
                                    <p style="font-size: 14px; font-weight: 400; margin-top: -10px;">Mang theo cảm hứng nghệ thuật âm nhạc, Phê La chạm khắc Bông như một tác phẩm bùng nổ trên “sân khấu”. Thoát khỏi khuôn</p>
                                </div>
                                <div class="col-12 ttct6">
                                    <button>Xem Chi Tiết</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 ttct3"  >
                            <div class="row">
                                <div class="col-12 ttct4">
                                    <img src="image/ttct4.jpg" alt="">
                                </div>
                                <div class="col-12 ttct5">
                                    <p>Phê Thăng# – Chill “Phê” Tỉnh Táo, Sáng Tạo </p> 
                                    <p style="font-size: 14px; font-weight: 400; margin-top: -10px;">Ngày đăng:

                                        07 04 2024</p>
                                    <p style="font-size: 14px; font-weight: 400; margin-top: -10px;">Câu chuyện Cà Phê Đặc Sản được Phê La viết tiếp cùng Phê Thăng# – phiên bản Cà Phê Nitro Cold Brew tinh tế, vừa tôn lên</p>
                                </div>
                                <div class="col-12 ttct6">
                                    <button>Xem Chi Tiết</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 ttct3"  >
                            <div class="row">
                                <div class="col-12 ttct4">
                                    <img src="image/ttct5.jpg" alt="">
                                </div>
                                <div class="col-12 ttct5">
                                    <p> Phê La cùng bạn Chill xuyên Tết </p> 
                                    <p style="font-size: 14px; font-weight: 400; margin-top: -10px;">Ngày đăng:

                                        02 02 2024</p>
                                    <p style="font-size: 14px; font-weight: 400; margin-top: -10px;">Phê La gửi tới bạn lịch hoạt động Tết Giáp Thìn của tất cả cửa hàng trên 3 miền: Hà Nội, TP HCM, Đà Nẵng, Hội An & Đà Lạt. Lưu ý: Từ</p>
                                </div>
                                <div class="col-12 ttct6">
                                    <button>Xem Chi Tiết</button>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>

                
            </div>
        </div>

      


