  

        <div class="banner">
            <img src="image/banner-TinTuc.jpg" alt="" width="1517px" height="500px" style="object-fit: cover;">
            <div class="pannerBlack">
            </div>
        </div>

        <div class="container" style="margin-left: 150px;">
            <div class="row">
                <div class="col-12 tt1">
                    <h4>Blog</h4>
                </div>
                <div class="col-12">
                    <div class="row tt2">
                        <div class="col-8 tt3 ">
                            <img src="image/tt1.png" alt="" width="700px" height="306px">
                        </div>
                        <div class="col-4 tt4">
                            <div class="row tt5">
                                <div class="col-12">
                                    <button>Phê La</button>
                                    <button>Tin Tức</button>
                                </div>
                                <div class="col-12 tt6">
                                    <h5>Bông – Cold Brew Ô Long Nhài Kem Cheese</h5>
                                    <p>Mang theo cảm hứng nghệ thuật âm nhạc, Phê La chạm khắc Bông như một tác phẩm
                                        bùng nổ trên “sân khấu”. Thoát khỏi khuôn mẫu, Phê La dẫn “Đồng Chill” dạo quanh
                                        vườn hoa</p>
                                    <button>Xem Thêm</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 tt7">
                    <div class="row">
                        <div class="col-4 tt8">
                            <div class="row">
                                <div class="col-12">
                                    <img src="image/tt2.jpg" alt="" width="360px" height="250px ">
                                </div>
                            </div>
                            <div class="col-12 tt5" style="margin-top: 20px;">
                                <button style="margin-right: 10px;"> Phê La</button>
                                <button>Tin Tức</button>
                            </div>
                            <div class="col-12 tt9">
                                <h5>Phê Thăng# – Chill “Phê” Tỉnh Táo, Sáng Tạo “Thăng” Hoa #</h5>
                            </div>
                            <div class="col-12 tt10">
                                <p> Câu chuyện Cà Phê Đặc Sản được Phê La viết tiếp cùng Phê Thăng# – phiên bản Cà Phê
                                    Nitro Cold Brew tinh tế, vừa tôn lên hương vị nguyên</p>
                            </div>
                            <div class="col-12 tt11">
                              <a href="#!tinTucChiTiet"> <button>Xem Thêm</button></a> 
                            </div>

                        </div>
                        <div class="col-4 tt8">
                            <div class="row">
                                <div class="col-12">
                                    <img src="image/tt3.jpg" alt="" width="360px" height="250px ">
                                </div>
                            </div>
                            <div class="col-12 tt5" style="margin-top: 20px;">
                                <button style="margin-right: 10px;"> Phê La</button>
                                <button>Tin Tức</button>
                            </div>
                            <div class="col-12 tt9">
                                <h5> Phê La cùng bạn Chill xuyên Tết </h5>
                            </div>
                            <div class="col-12 tt10">
                                <p> Phê La gửi tới bạn lịch hoạt động Tết Giáp Thìn của tất cả cửa hàng trên 3 miền: Hà Nội, TP HCM, Đà Nẵng, Hội An & Đà Lạt. Lưu ý: Từ ngà</p>
                            </div>
                            <div class="col-12 tt11">
                                <button>Xem Thêm</button>
                            </div>

                        </div>
                        <div class="col-4 tt8">
                            <div class="row">
                                <div class="col-12">
                                    <img src="image/tt4.jpg" alt="" width="360px" height="250px ">
                                </div>
                            </div>
                            <div class="col-12 tt5" style="margin-top: 20px;">
                                <button style="margin-right: 10px;"> Phê La</button>
                                <button>Tin Tức</button>
                            </div>
                            <div class="col-12 tt9">
                                <h5>Phê La gửi bạn chút Vani ngọt ngào đầu năm</h5>
                            </div>
                            <div class="col-12 tt10">
                                <p> Tết sắp cận kề, Phê La chuẩn bị món quà ngọt ngào dành tặng fan cứng. Hai phiên bản Trân Châu Vani Mềm Dẻo, không chất bảo quản được</p>
                            </div>
                            <div class="col-12 tt11">
                                <button>Xem Thêm</button>
                            </div>

                        </div>
                        <div class="col-4 tt8">
                            <div class="row">
                                <div class="col-12">
                                    <img src="image/tt5.jpg" alt="" width="360px" height="250px ">
                                </div>
                            </div>
                            <div class="col-12 tt5" style="margin-top: 20px;">
                                <button style="margin-right: 10px;"> Phê La</button>
                                <button>Tin Tức</button>
                            </div>
                            <div class="col-12 tt9">
                                <h5>Cùng Phê La chill Tết ngọt ngào!</h5>
                            </div>
                            <div class="col-12 tt10">
                                <p> Hộp Quà Ô Long Phin giấy phiên bản Tết được Phê La tỉ mỉ chuẩn bị và sẵn sàng về nhà với fan cứng từ 18/01/2024 tại các cửa hàng Phê La</p>
                            </div>
                            <div class="col-12 tt11">
                                <button>Xem Thêm</button>
                            </div>

                        </div>
                        <div class="col-4 tt8">
                            <div class="row">
                                <div class="col-12">
                                    <img src="image/tt6.jpg" alt="" width="360px" height="250px ">
                                </div>
                            </div>
                            <div class="col-12 tt5" style="margin-top: 20px;">
                                <button style="margin-right: 10px;"> Phê La</button>
                                <button>Tin Tức</button>
                            </div>
                            <div class="col-12 tt9">
                                <h5>Đồ Rê Mi Pha Sol Phê La … Bản nhạc chill Tết viết nên bởi Hộp quà Đĩa Nhạc</h5>
                            </div>
                            <div class="col-12 tt10">
                                <p> Câu chuyện khởi nguồn từ những thanh âm trong trẻo và bản nhạc thủ công đầy
                                     cảm hứng của Phê La. Lần này, Phê La gửi gắm tâm huyết trong</p>
                            </div>
                            <div class="col-12 tt11">
                                <button>Xem Thêm</button>
                            </div>

                        </div>
                        <div class="col-4 tt8">
                            <div class="row">
                                <div class="col-12">
                                    <img src="image/tt7.jpg" alt="" width="360px" height="250px ">
                                </div>
                            </div>
                            <div class="col-12 tt5" style="margin-top: 20px;">
                                <button style="margin-right: 10px;"> Phê La</button>
                                <button>Tin Tức</button>
                            </div>
                            <div class="col-12 tt9">
                                <h5>Phê La Lê Thái Tổ – Gửi lại Hà Nội một “Hà Nội xưa” </h5>
                            </div>
                            <div class="col-12 tt10">
                                <p> Câu chuyện văn hóa được Phê La giữ gìn và tiếp nối tại 3B Lê Thái Tổ – Tòa nhà cổ Hồng Vân, 
                                    Long Vân nằm giữa Quảng trường Đông Kinh</p>
                            </div>
                            <div class="col-12 tt11">
                                <button>Xem Thêm</button>
                            </div>

                        </div>
                        <div class="col-4 tt8">
                            <div class="row">
                                <div class="col-12">
                                    <img src="image/tt8.jpg" alt="" width="360px" height="250px ">
                                </div>
                            </div>
                            <div class="col-12 tt5" style="margin-top: 20px;">
                                <button style="margin-right: 10px;"> Phê La</button>
                                <button>Tin Tức</button>
                            </div>
                            <div class="col-12 tt9">
                                <h5>CỬA HÀNG TRẢI NGHIỆM PHA CHẾ THỦ CÔNG ĐẦU TIÊN  </h5>
                            </div>
                            <div class="col-12 tt10">
                                <p>(English below) Trên hành trình Nốt Hương Đặc Sản – Nguyên Bản – Thủ Công, 
                                    Phê La ấp ủ gần 03 năm để mang đến bạn trải nghiệm thưởng</p>
                            </div>
                            <div class="col-12 tt11">
                                <button>Xem Thêm</button>
                            </div>

                        </div>
                        <div class="col-4 tt8">
                            <div class="row">
                                <div class="col-12">
                                    <img src="image/tt9.jpg" alt="" width="360px" height="250px ">
                                </div>
                            </div>
                            <div class="col-12 tt5" style="margin-top: 20px;">
                                <button style="margin-right: 10px;"> Phê La</button>
                                <button>Tin Tức</button>
                            </div>
                            <div class="col-12 tt9">
                                <h5>Phê La Đà Nẵng – Chốn chill mang cảm hứng nguyên bản</h5>
                            </div>
                            <div class="col-12 tt10">
                                <p>Có mặt ở Đà Nẵng lần này, Phê La vẫn giữ trọn tinh thần nguyên bản chủ đạo qua những chất liệu mộc mạc, tự nhiên cùng cảm hứng camping</p>
                            </div>
                            <div class="col-12 tt11">
                                <button>Xem Thêm</button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>


 